.hero {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  padding: 0 8vw;
  overflow: hidden;
  position: relative;
}

.text-container {
  flex: 1;
  max-width: 50%;
}

.text-container span {
  font-size: 2.5rem;
  color: #232155;
  display: block;
  margin-bottom: 10px;
}

html.dark .text-container span {
  color: #f9f9f9;
}

.text-container h1 {
  font-size: 4rem;
  color: #3931e1;
  margin-bottom: 30px;
  line-height: 1.2;
}

html.dark h1 {
  color: #f9f9f9;
}

.text-container p {
  color: #4a4b6d;
  margin-bottom: 30px;
}

html.dark .text-container p {
  color: #f9f9f9;
}

.btn {
  background-color: #3931e1;
  padding: 15px 50px;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.2rem;
  transition:
    background-color 0.3s ease,
    transform 0.3 ease;
  margin-top: 20px;
}

.btn:hover {
  opacity: 0.9;
  transform: translateY(-3px);
}

.image-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container img {
  width: 80%;
  height: auto;
  position: relative;
  z-index: 1;
  border-radius: 50%;
  margin-left: 80px;
}

.circle-bg {
  position: absolute;
  width: 400px;
  height: 400px;
  background-color: #3931e1;
  border-radius: 50%;
  z-index: 0;
}

html.dark .circle-bg {
  background-color: #fff;
}
